<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zull.lpc.practice.mybatis.mapper.test.TestDeviceDynamicInfoMapper">

    <insert id="insert" parameterType="cn.zull.lpc.practice.mybatis.entity.test.TestDeviceDynamicInfo">
        INSERT INTO `test_device_dynamic_info` (`id`,`did`,`dev_name`)
        VALUES (#{id} , #{did} , #{devName})
    </insert>
</mapper>